<%= form_for(guest) do |f| %>
  <% if guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:inline-flex">
  <%= f.label :name, '名前' %>
    <%= f.text_field :name %>
    <%= f.check_box :child_bit, {}, 1, 0 %><%= f.label :child_bit, '子ども' %>
  </div>
  <br />
  <div class="field" style="display:inline-flex">
    <%= f.radio_button :sex_bit, 1 %><%= f.label 'sex_bit_1', '男' %>
    <%= f.radio_button :sex_bit, 0 %><%= f.label 'sex_bit_0', '女' %>
  </div>

  <div class="field">
    <%= f.label :post_number, '住所' %>
    〒<%= f.text_field :post_number %>
    <br />
    <%= f.text_field :address_1 %>
    <br />
    <%= f.text_field :address_2 %>
  </div>

  <div class="field">
    <%= f.label :phone_number, '電話番号' %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :mail_address, 'メールアドレス' %>
    <%= f.text_field :mail_address %>
  </div>

  <div class="field">
    <%= f.label :group_string, 'グループ' %>
    <%= f.text_field :group_string %>
  </div>

  <div class="field">
    <%= f.label :invite_message, '招待メッセージ' %>
    <%= f.text_area :invite_message %>
  </div>

  招待側<br />
  <div class="field" style="display:inline-flex">
    <%= f.radio_button :host_bit, 1 %><%= f.label 'host_bit_1', 'ともあき' %>
    <%= f.radio_button :host_bit, 0 %><%= f.label 'host_bit_0', 'えりこ' %>
  </div>

  <div class="field">
    <%= f.label :tomo_message, 'ともあきからのメッセージ' %>
    <%= f.text_area :tomo_message %>
  </div>

  <div class="field">
    <%= f.label :eri_message, 'えりこからのメッセージ' %>
    <%= f.text_area :eri_message %>
  </div>

  <div class="actions">
    <%= f.submit '追加する' %>
  </div>
<% end %>
