<%= form_for(guest) do |f| %>
  <% if guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_hash %>
    <%= f.text_field :id_hash %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :post_number %>
    <%= f.text_field :post_number %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :sex_bit %>
    <%= f.text_field :sex_bit %>
  </div>

  <div class="field">
    <%= f.label :child_bit %>
    <%= f.text_field :child_bit %>
  </div>

  <div class="field">
    <%= f.label :invite_message %>
    <%= f.text_area :invite_message %>
  </div>

  <div class="field">
    <%= f.label :host_bit %>
    <%= f.text_field :host_bit %>
  </div>

  <div class="field">
    <%= f.label :tomo_message %>
    <%= f.text_area :tomo_message %>
  </div>

  <div class="field">
    <%= f.label :eri_message %>
    <%= f.text_area :eri_message %>
  </div>

  <div class="field">
    <%= f.label :attend_bit %>
    <%= f.text_field :attend_bit %>
  </div>

  <div class="field">
    <%= f.label :guest_message %>
    <%= f.text_area :guest_message %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
