<p id="notice"><%= notice %></p>

<h1>招待客一覧</h1>

<table>
  <thead>
    <tr>
      <th>リンク</th>
      <th>出欠</th>
      <th>名前</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>招待メッセージ</th>
      <th>区分</th>
      <th>ともメッセージ</th>
      <th>えりメッセージ</th>
      <th>ゲストからのメッセージ</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= link_to 'ゲストページ', "/invitations/#{guest.id_hash}" %></td>
        <td>
          <%= case guest.attend_bit
              when false then '欠'
              when true  then '出'
              else        '--'
              end
          %>
        </td>
        <td>
          <font color=<%= guest.sex_bit ? '#000000' : '#ff0000' %>><%= guest.name %></font>
          <%= guest.child_bit ? '※' : '' %>
        </td>
        <td>〒<%= guest.post_number %><br /><%= guest.address %></td>
        <td><%= guest.phone_number %></td>
        <td><%= guest.invite_message %></td>
        <td><%= guest.host_bit ? 'とも' : 'えり' %></td>
        <td><%= guest.tomo_message %></td>
        <td><%= guest.eri_message %></td>
        <td><%= guest.guest_message %></td>
        <td><%= link_to '見', guest %></td>
        <td><%= link_to '編', edit_guest_path(guest) %></td>
        <td><%= link_to '削', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '追加', new_guest_path %>
