<script type="text/javascript">
  jQuery(function($){
    $('#select input').each(function(i){
        i = i + 1;
         var $check = '';
        
        $(this).change(function(){
            if ($(this).is(':checked')) {
                $('.col'+i).show();
            } else {
                $('.col'+i).hide();
            }
        });
        
    });
  });
</script>

<p id="notice"><%= notice %></p>

<h1>招待客一覧</h1>

<div id="select">
  <label><input type="checkbox" disabled checked></label>
  <label><input type="checkbox" checked>出欠</label>
  <label><input type="checkbox" disabled checked>名前</label>
  <label><input type="checkbox" >住所</label>
  <label><input type="checkbox" >電話番号</label>
  <label><input type="checkbox" checked>招待メッセージ</label>
  <label><input type="checkbox" >区分</label>
  <label><input type="checkbox" >グループ</label>
  <label><input type="checkbox" checked>ともメッセージ</label>
  <label><input type="checkbox" checked>えりメッセージ</label>
  <label><input type="checkbox" checked>ゲストからのメッセージ</label>
  <label><input type="checkbox" checked>アレルギー</label>
  <label><input type="checkbox" >操作</label>
</div>

<table id="result" border=1>
  <thead>
    <tr>
      <th class='col1' hidden></th>
      <th class='col2'>出欠</th>
      <th class='col3'>名前</th>
      <th class='col4' hidden>住所</th>
      <th class='col5' hidden>電話番号</th>
      <th class='col6' hidden>メールアドレス</th>
      <th class='col7'>招待メッセージ</th>
      <th class='col8' hidden>区分</th>
      <th class='col9' hidden>グループ</th>
      <th class='col10'>ともメッセージ</th>
      <th class='col11'>えりメッセージ</th>
      <th class='col12'>ゲストからのメッセージ</th>
      <th class='col13'>アレルギー</th>
      <th class='col14' colspan="3" hidden>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr bgcolor=<%= '#ff0000' if attend_type(guest) == 'none' %>>
        <td class='col1' hidden></td>
        <td class='col2' align='center'>
          <%= case attend_type(guest)
              when 'attend' then '出'
              when 'absent' then '欠'
              when 'none' then '--'
              end
          %>
        </td>
        <td class='col3'>
          <%= link_to guest.name, "/invitations/#{guest.id_hash}" %>
          <%= guest.child_bit ? '※' : '' %>
        </td>
        <td class='col4' hidden>〒<%= guest.post_number %><br /><%= guest.address_1 %><br /><%= guest.address_2 %></td>
        <td class='col5' hidden><%= guest.phone_number %></td>
        <td class='col6' hidden><%= guest.mail_address %></td>
        <td class='col7'><%= simple_format(guest.invite_message) %></td>
        <td class='col8' hidden><%= guest.host_bit ? 'とも' : 'えり' %></td>
        <td class='col9' hidden><%= guest.group_string %></td>
        <td class='col10'><%= simple_format(guest.tomo_message) %></td>
        <td class='col11'><%= simple_format(guest.eri_message) %></td>
        <td class='col12'><%= simple_format(guest.guest_message) %></td>
        <td class='col13'><%= simple_format(guest.allergy_comment) %></td>
        <td class='col14' hidden><%= link_to '見', guest %></td>
        <td class='col14' hidden><%= link_to '編', edit_guest_path(guest) %></td>
        <td class='col14' hidden><%= link_to '削', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '追加', new_guest_path %>
