<p id="notice"><%= notice %></p>

<p>
  <strong>Id hash:</strong>
  <%= @guest.id_hash %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Post number:</strong>
  <%= @guest.post_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guest.address_1 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guest.address_2 %>
</p>

<p>
  <strong>MailAddress:</strong>
  <%= @guest.mail_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @guest.phone_number %>
</p>

<p>
  <strong>Sex bit:</strong>
  <%= @guest.sex_bit %>
</p>

<p>
  <strong>Child bit:</strong>
  <%= @guest.child_bit %>
</p>

<p>
  <strong>Invite message:</strong>
  <%= @guest.invite_message %>
</p>

<p>
  <strong>Host bit:</strong>
  <%= @guest.host_bit %>
</p>

<p>
  <strong>Tomo message:</strong>
  <%= @guest.tomo_message %>
</p>

<p>
  <strong>Eri message:</strong>
  <%= @guest.eri_message %>
</p>

<p>
  <strong>Attend bit:</strong>
  <%= @guest.attend_bit %>
</p>

<p>
  <strong>Guest message:</strong>
  <%= @guest.guest_message %>
</p>

<p>
  <strong>Allergy Comment:</strong>
  <%= @guest.allergy_comment %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
